<h4><a [routerLink] = "'/'">Home</a> | <a [routerLink] = "'/books'">Books</a> | <a [routerLink] = "'/books_purchase'">Purchase</a></h4>
<router-outlet></router-outlet>
<H1>Welcome To Books Store</H1>
<app-toaster></app-toaster>
<!-- <tabs>
  <div>
     <tab [tabTitle]="'Products'">
          <div class="main-page">
            <div class="container mb-4">
              <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th scope="col"> </th>
                                      <th scope="col">Product</th>
                                      <th scope="col">Available</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                      <td id="step1">Common Projects Bball High</td>
                                      <td>In stock</td>
                                  </tr>
                                  <tr>
                                      <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                      <td id="step2">Maison Margiela Future Sneakers</td>
                                      <td>In stock</td>
                                  </tr>
                                  <tr>
                                      <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                      <td id="step3">Our Legacy Brushed Scarf Brown</td>
                                      <td>In stock</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="col mb-2">
                      <div class="row">
                          <div class="col-sm-12  col-md-6">
                              <button class="btn btn-block btn-light">Continue Shopping</button>
                          </div>
                          <div class="col-sm-12 col-md-6 text-right">
                              <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </div>
          <app-toaster></app-toaster>
      </tab>
  </div>
  <div>
  <tab tabTitle="Purchase" id="Tab2">
    <div class="shopping-cart">
    -->
      <!-- Title -->
    <!--
      <div class="title">
        Shopping Bag
      </div>
-->
      <!-- Product #1 -->
      <!--
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image" ng-init="myVar = './images/item-1.png'">
          <img ng-src="{{myVar}}" alt="" />
        </div>

        <div class="description" id="t2-step1">
          <span>Common Projects</span>
          <span>Bball High</span>
          <span>White</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="./images/plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="./images/minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$549</div>
      </div>
    -->
      <!-- Product #2 -->
       <!--
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image">
          <img src="./images/item-2.png" alt=""/>
        </div>

        <div class="description" id="t2-step2">
          <span>Maison Margiela</span>
          <span>Future Sneakers</span>
          <span>White</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="./images/plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="./images/minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$870</div>
      </div>
    -->
      <!-- Product #3 -->
      <!--
      <div class="item">
        <div class="buttons">
          <span class="delete-btn"></span>
          <span class="like-btn"></span>
        </div>

        <div class="image">
          <img src="./images/item-3.png" alt="" />
        </div>

        <div class="description" id="t2-step3">
          <span>Our Legacy</span>
          <span>Brushed Scarf</span>
          <span>Brown</span>
        </div>

        <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="./images/plus.svg" alt="" />
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="./images/minus.svg" alt="" />
          </button>
        </div>

        <div class="total-price">$349</div>
      </div>
    </div>

</tab>
  </div>
</tabs>
-->
