<div>
  Shopping cart of your favorite books. <button (click) ="purchase()">Purchase</button>
</div>

<div class="shop-single-product-area">
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-1">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/1.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">East of eden</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/2.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">People of the book</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-2">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/3.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">The secret letter</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-3">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/4.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">Lone some dove</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-4">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/5.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">The historian</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-4">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/6.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">East of eden</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-5">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/7.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">Cold mountain</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
<div class="single-banner" id="pur-6">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/8.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">Twilight</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
    <div class="col-md-4 hidden-sm">
<div class="single-banner" id="pur-7">
<div class="product-wrapper">
<a href="#" class="single-banner-image-wrapper">
<img alt="" src="http://preview.freethemescloud.com/writer-preview/writer/img/featured/1.jpg">
<div class="price"><span>$</span>160</div>
</a>
<div class="product-description">
<div class="functional-buttons">
<a href="#" title="Add to Cart">
<i class="fa fa-shopping-cart"></i>
</a>
<a href="#" title="Add to Wishlist">
<i class="fa fa-heart-o"></i>
</a>
<a href="#" title="Quick view" data-toggle="modal" data-target="#productModal">
<i class="fa fa-compress"></i>
</a>
</div>
</div>
</div>
<div class="banner-bottom text-center">
<div class="banner-bottom-title">
<a href="#">East of eden</a>
</div>
<div class="rating-icon">
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star icolor"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
</div>
</div>
    </div>
</div>
<app-toaster></app-toaster>
